<?xml version="1.0" encoding="UTF-8"?>
<suite name="Feature1" parallel="false">

  <test name="UnitLevelTest">

    <classes>

      <class name="com.test.testng.TestClass1"/>

    </classes>

  </test>

  <test name="AcceptanceTest">

    <classes>

      <class name="com.test.testng.TestClass2"/>

      </classes>

  </test>

</suite>

